@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

* {
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Andika New Basic', sans-serif;
}

body {
    background-color: pink;
}

article {
    display: flex;
    width: 70%;
    background-color: plum;
}

.contentDiv {
    display: flex;
    border: 2em;
    margin-top: 0.6em;
    flex-direction: column;
}


main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

img {
    margin: 1em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

button {
    width: 50%;
    height: 2em;
    margin-top: 1em;
    border-radius: 5%;
    border-color: rebeccapurple;
    background-color: rebeccapurple;
}